:root{
  --clr-primary: #2F4858;
  --clr-footer: #FFFFFF;
  --clr-button: #FFFFFF;

  --bg-primary: #FFA800;
  --bg-footer-top: #FFCB66;
  --bg-footer-bottom: #2F4858;
  --bg-form: #c4c4c466;

  --ff-montserrat-400: Montserrat-400;
  --ff-montserrat-500: Montserrat-500;
  --ff-oswald: Oswald;

  --fw-400: 400;
  --fw-500: 500;
}

@font-face {
font-family: Oswald;
src: url('../font/Oswald/Oswald-Medium.ttf') format('truetype');
}
@font-face {
font-family: Montserrat-500;
src: url('../font/Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
font-family: Montserrat-400;
src: url('../font/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

/* https://piccalil.li/blog/a-modern-css-reset */
*,*::before,*::after {box-sizing: border-box;}

* {
margin: 0;
padding: 0;
font: inherit;
color: black;
}

html:focus-within {scroll-behavior: smooth;}

html,body {height: 100%;}

body {
margin: 0 auto;   
text-rendering: optimizeSpeed;
font-style: normal;
line-height: normal;
}

main{overflow: hidden;}

img,picture,svg {display: block;}

@media (prefers-reduced-motion: reduce) {
html:focus-within {
scroll-behavior: auto;
}
*,
*::before,
*::after {
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
}
}

li,ol,ul {list-style-type: none;}

a {
text-decoration-skip-ink: auto;
text-decoration: none;
cursor: pointer;
}

button {cursor: pointer;}

/* Utility Classes*/

#whitespace{color: white;}

.clr-primary{color: var(--clr-primary);}
.clr-footer{color: var(--clr-footer);}
.clr-button{color: var(--clr-button);}

.text-oswald{font-family: var(--ff-oswald);}
.text-montserrat-500{font-family: var(--ff-montserrat-500);}
.text-montserrat-400{font-family: var(--ff-montserrat-400);}

.bg-primary{background-color: var(--bg-primary);}
.bg-footer-top{background-color: var(--bg-footer-top);}
.bg-footer-bottom{background-color: var(--bg-footer-bottom);}
.bg-form{background-color: var(--bg-form);}

.text-400{font-weight: 400;}
.text-500{font-weight: 500;}

.button{
border: none;
border-radius: 2rem;
color: var(--clr-button);
}

/* General Styles */

h1{
font-style: var(--ff-oswald);
font-weight: var(--fw-500);
font-size: 48px;
}

h2{
font-style: var(--ff-oswald);
font-weight: var(--fw-500);
font-size: 30px;
}

h3{
font-style: var(--ff-oswald);
font-weight: var(--fw-500);
font-size: 24px;
}

.header-top,
.name-email-group,
.form-checkbox,
.logos-group,
.icons-group,
.images {
  display: flex;
}

.header-cover,
.exit-icon,
.menu-icon,
.play-icon,
.cover-top,
.cover-bottom,
.logos-title,
.logos,
.teikums-logo,
.sem-logo,
.citybee-logo,
.linearis-logo,
.footer-logo,
.info-name,
.info-group,
.icons,
.footer-text,
.policy,
.navbar-footer,
.view-requsites,
.requsites {
  position: absolute;
}

.header-top,
.video-img,
.images-sect .container,
.logos-sect .container,
.footer .container,
.footer-bg {
  position: relative;
}

.header-logo {
  z-index: 1;
}

.video-img {
  z-index: -1;
}

.images {
  align-items: end;
}

.cover-top{
  top: 0;
}

.cover-bottom {
  bottom: 0;
}

.btn-group h3,
.form-title,
.form-group {
  margin: 0 auto;
}

.form-sect .container {
  text-align: center;
}

.form-group #comment {
  resize: none;
}

.form-group .mandatory,
.form-group .terms-container {
  text-align: start;
}

.footer p,
.footer a {
  color: var(--clr-footer);
}

.view-requsites {
  font-weight: 700;
}

.info-group {
  text-align: end;
}

.facebook,
.instagram {
  cursor: pointer;
}

.text .container {
  text-align: center;
  margin: 0 auto;
}

.buttons-sect .container {
  text-align: center;
  align-items: center;
}

.form-group form input,
.form-group form textarea {
  background-color: var(--bg-form);
  color: var(--clr-primary);
  letter-spacing: -0.21px;
  border-radius: 6px;
  border: none;
}

.form-group #check-box {
  min-width: 16px;
  min-height: 16px;
  accent-color: var(--bg-form);
  border-radius: 3px;
}

.play-icon {
  transform: translate(-50%, -50%);
  left: 50%;
}
  
/* Stylesheet */

@media only screen and (max-width: 320px) {
  
  body{
    width: 320px;  
    height: 2970px;
  }
  main{
    min-width: 320px;  
  }
  

  .primary-navbar{display: none;}
  .exit-icon{
    width: 15px;
    height: 15px;
    z-index: 1;
    right: 20px;
    top: 18px;
    background: url("../img/mobile/exit.svg") center/cover no-repeat;
  }


  .header-cover{
    min-width: 320px;
    min-height: 59px;
    background: url("../img/mobile/header-top.svg") center/cover no-repeat;
  }
  
  .header-logo{
    min-width: 78px;
    min-height: 49px;
    margin-left: 1.25rem;
    background: url("../img/mobile/BlackLogo.png") center/cover no-repeat;
  }
  
  .video-img{
    min-width: 320px;
    min-height: 169px;
    background: url("../img/SparkleVideo.jpg") center/cover no-repeat;
  }
  
  .play-icon{
    min-width: 70px;
    min-height: 70px;
    top: 52%;
    background: url("../img/Play.svg") center/cover no-repeat;
  }
  
  .text .container{
    max-width: 280px;
    margin-top: 5rem;
    margin-bottom: 5.25rem;
  }
  
  .text-content {
    font-size: 12px;
  }
  
  .images-sect .container{
    margin-bottom: 7.5rem;
  }
  
  .cover-top {
    min-width: 320px;
    min-height: 24px;
    background: url("../img/mobile/images-top.svg") center/cover no-repeat;
  }
  
  .cover-bottom {
    min-width: 320px;
    min-height: 25px;
    background: url("../img/mobile/images-bottom.svg") center/cover no-repeat;
  }
  
  .images {
    min-width: 320px;
    flex-wrap: wrap;
  }
  
  .brinuma-meita-img {
    min-width: 136px;
    min-height: 82px;
    background: url("../img/Brinuma-meita.jpg") center/cover no-repeat;
  }
  
  .alina-img {
    min-width: 136px;
    min-height: 85px;
    background: url("../img/Alina.jpg") center/cover no-repeat;
  }
  
  .img-group{
    order: 1;
  }
  
  .anda-img {
    min-width: 184px;
    min-height: 174px;
    order: 2;
    background: url("../img/Anda.jpg") center/cover no-repeat;
  }
  
  .zanda-img{
    min-width: 168px;
    min-height: 183px;
    order: 3;
    background: url("../img/Zanda.jpg") center/cover no-repeat;
  }
  
  .sibilia-img{
    min-width: 167px;
    min-height: 183px;
    margin-right: -1rem;
    order: 4;
    background: url("../img/Sibilla.jpg") center/cover no-repeat;
  }
  
  .buttons-sect .container{
    margin-bottom: 7.4rem;
  }
  
  .first-group{
    margin-bottom: 5rem;
  }
  
  .btn-group h3{
    margin-bottom: 1.9rem;
    font-size: 18px;
  }.first-btn-title{
    max-width: 394px;
    min-height: 29px;
  }.second-btn-title{
    max-width: 280px;
    min-height: 55px;
  }
  
  .buttons-sect-btn{
    font-size: 18px;
    min-width: 233px;
    min-height: 50px;
  }
  
  .form-title{
    min-width: 280px;
    min-height: 35px;
    font-size: 24px;
    margin-bottom: 1.8rem;
  }
  
  .form-group{
    max-width: 280px;
  }
  
  .form-group form input, .form-group form textarea{
    min-width: 280px;
    min-height: 35px;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: .7rem;
  }
  
  .form-group .name-email-group{
    display: grid;
  }
    
  .form-group #name-surname{
    padding-top: .2rem;
  }

  .form-group #email{
    padding-top: .253rem;
  }

  .form-group #phone{
    padding-top: .2rem;
  }

  .form-group #comment{
    min-width: 280px;
    max-height: 150px;
    margin-bottom: .35rem;
    padding-top: .6rem;
  }
    
  .form-group .mandatory {
    min-width: 280px;
    min-height: 18px; 
    font-size: 12px;
    margin-bottom: .5rem;
  }
    
  .form-group .terms-container{
    font-size: 12px;
    line-height: 1.25;
    padding-top: .25rem;
  }
    
  .form-group #check-box{
    margin-right: 1.3rem;
    margin-top: .15rem;
  }

  .submit-btn{
    min-width: 140px;
    min-height: 48px;
    font-size: 18px;
    margin-top: 3.35rem;
  }
  
  .logos-sect .container{
    margin-top: 7.6rem;
    margin-bottom: -21.25rem;
  }

  .logo-bg{
    min-width: 322px;
    min-height: 732px;
    background: url("../img/mobile/footer-top.svg") center/cover no-repeat;
  }
  
  .logos-title {
    font-size: 24px;
    left: 6.1rem;
    top: 5rem;
  }
  
  .teikums-logo{
      min-width: 130px;
      min-height: 44px;
      top: 11.15rem;
      left: 1.25rem;
      background: url("../img/Teikums-logo.svg") center/cover no-repeat;
  }
  
  .sem-logo{
      min-width: 135px;
      min-height: 51px;
      top: 10.85rem;
      left: 10.4rem;
      background: url("../img/Sem-logo.svg") center/cover no-repeat;
  }
  
  .citybee-logo{
      min-width: 131px;
      min-height: 44px;
      top: 16.5rem;
      left: 1.25rem;
      background: url("../img/Citybee-logo.svg") center/cover no-repeat;
  }
  
  .linearis-logo{
      min-width: 48px;
      min-height: 67px;
      top: 16.1rem;
      left: 13.1rem;
      background: url("../img/Linearis-logo.svg") center/cover no-repeat;
  }
  
  .footer-bg{
    min-width: 320px;
    min-height: 483px;
    background: url("../img/mobile/footer-bottom.svg") center/cover no-repeat;
  }
  
  .footer-logo{
    min-width: 100px;
    min-height: 100px; 
    top: 2.7rem; 
    left: 1.2rem;
    background: url("../img/GoldenLogo.png") center/cover no-repeat;
  }
  
  .info-group{
    font-size: 12px;
    top: 222px;
    left: 20px;
    text-align: start;
  }.info-group p:nth-child(1), 
   .info-group p:nth-child(2) {
    padding-bottom: .75rem;
  }
  
  .info-name{
    font-size: 18px;
    color: white;
    left: 20px;
    top: 169px;
  }
  
  .view-requsites{
    font-size: 14px;
    font-weight: 700;
    min-width: 220px;
    min-height: 21px;
    bottom: 162px;
    left: 21px;
    letter-spacing: .02rem;
  }
  
  .icons{
    bottom: 102px;
    left: 20px;
  }.facebook{
    min-width: 12.5px;
    min-height: 25px;
    margin-right: 2.1rem;
    background: url("../img/facebook.svg") center/cover no-repeat;
  }.instagram{
    min-width: 25px;
    min-height: 25px;
    background: url("../img/instagram.svg") center/cover no-repeat;
  }
  
  .footer-text{
    font-size: 11px;
    bottom: 53.5px;
    left: 20px;
  }
  
  .policy{
    font-size: 11px;
    bottom: 32.5px;
    left: 20px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  
  body {
    width: 768px;
    height: 3021px;
  }
  main{
    min-width: 768px;
  }

  .primary-navbar{display: none;}
  .exit-icon{display: none;}
  .menu-icon{
    width: 24.8px;
    height: 20px;
    z-index: 1;
    right: 79px;
    top: 35px;
    cursor: pointer;
    background: url("../img/tablet/menu.svg") center/cover no-repeat;
  }


  .header-cover{
    min-width: 768px;
    min-height: 96px;
    background: url("../img/tablet/header-top.svg") center/cover no-repeat;
  }

  .header-logo{
    min-width: 128px;
    min-height: 118px;
    margin-left: 4.95rem;
    background: url("../img/tablet/BlackLogo.png") no-repeat;
  }

  .video-img{
    min-width: 768px;
    min-height: 406px;
    margin-top: -3rem;
    background: url("../img/SparkleVideo.jpg") center/cover no-repeat;
  }

  .play-icon{
    min-width: 120px;
    min-height: 120px;
    top: 51%;
    background: url("../img/Play.svg") center/cover no-repeat;
  }

  .text .container{
    max-width: 608px;
    min-height: 140px;
    margin-top: 9.65rem;
    margin-bottom: 9rem;
  }

  .text-content {
    font-size: 18px;
  }

  .images-sect .container{
    margin-bottom: 7.5rem;
  }

  .cover-top {
    min-width: 768px;
    min-height: 31px;
    top: 2px;
    background: url("../img/tablet/images-top.svg") center/cover no-repeat;
  }

  .cover-bottom {
    min-width: 768px;
    min-height: 31px;
    bottom: -9px;
    background: url("../img/tablet/images-bottom.svg") center/cover no-repeat;
  }

  .images {
    min-width: 768px;
  }

  .brinuma-meita-img {
    min-width: 167px;
    min-height: 102px;
    background: url("../img/Brinuma-meita.jpg") center/cover no-repeat;
  }

  .alina-img {
    min-width: 167px;
    min-height: 104px;
    background: url("../img/Alina.jpg") center/cover no-repeat;
  }

  .img-group{
    order: 3;
  }

  .anda-img {
    min-width: 229px;
    min-height: 216px;
    order: 4;
    background: url("../img/Anda.jpg") center/cover no-repeat;
  }

  .zanda-img{
    min-width: 184px;
    min-height: 200px;
    order: 1;
    margin-bottom: .55rem;
    background: url("../img/Zanda.jpg") center/cover no-repeat;
  }

  .sibilia-img{
    min-width: 188px;
    min-height: 206px;
    order: 2;
    margin: 0;
    margin-top: .75rem;
    background: url("../img/Sibilla.jpg") center/cover no-repeat;
  }

  .buttons-sect .container{
    align-items: end;
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    margin-bottom: 9.1rem;
    margin-top: 10rem;
  }

  .first-group{
    order: 2;
  }
  
  .second-group{
    order: 1;
  }

  .btn-group h3{
    margin-bottom: 3rem;
    font-size: 18px;
  }.first-btn-title{
    max-width: 233px;
    min-height: 54px;
  }.second-btn-title{
    max-width: 233px;
    min-height: 54px;
  }

  .buttons-sect-btn{
    font-size: 18px;
    min-width: 233px;
    min-height: 50px;
  }

  .form-title{
    min-width: 280px;
    min-height: 35px;
    font-size: 30px;
    margin-bottom: 3.5rem;
  }

  .form-group{
    max-width: 608px;
    margin-bottom: 8rem;
  }

  .form-group form input, .form-group form textarea{
    font-size: 18px;
    min-width: 294px;
    min-height: 40px;
    margin-bottom: 1rem;
  }

  .form-group .name-email-group{
    display: flex;
    justify-content: space-between;
  }
   
  .form-group #name-surname{
    padding-top: .2rem;
    padding-left: .7rem;
  }

  .form-group #email{
    padding-top: .253rem;
    padding-left: .75rem;
  }

  .form-group #phone{
    min-width: 608px;
    margin-bottom: .9rem;
    padding-top: .15rem;
    padding-left: .75rem;
  }
  
  .form-group #comment{
    min-width: 608px;
    max-height: 230px;
    margin-bottom: .65rem;
    padding-top: .6rem;
    padding-left: .8rem;
  }
    
  .form-group .mandatory {
    min-width: 608px;
    min-height: 19px;
    font-size: 14px;
    margin-bottom: .5rem;
  }
    
  .form-group .terms-container{
    font-size: 13.7px;
    line-height: 1.3;
    padding-top: .2rem;
    padding-left: .4rem;
  }

  .form-group #check-box{
    margin-right: 1.2rem;
  }
    
  .submit-btn{
    min-width: 182px;
    min-height: 62px;
    font-size: 24px;
    margin-top: 3.2rem;
  }

  .logos-sect .container{
    margin-top: 9.35rem;
    margin-bottom: -1.1rem;
  }

  .logo-bg{
    min-width: 768px;
    min-height: 270px;
    background: url("../img/tablet/footer-top.svg") center/cover no-repeat;
  }

  .logos-title {
    font-size: 24px;
    left: 20.1rem;
    top: 3.5rem;
  }

  .teikums-logo{
    min-width: 144px;
    min-height: 47px;
    top: 7.9rem;
    left: 5rem;
    background: url("../img/Teikums-logo.svg") center/cover no-repeat;
  }

  .sem-logo{
    min-width: 123px;
    min-height: 47px;
    top: 7.9rem;
    left: 17.1rem;
    background: url("../img/Sem-logo.svg") center/cover no-repeat;
  }

  .citybee-logo{
    min-width: 142px;
    min-height: 47px;
    top: 7.9rem;
    left: 27.9rem;
    background: url("../img/Citybee-logo.svg") center/cover no-repeat;
  }

  .linearis-logo{
    min-width: 49px;
    min-height: 71px;
    top: 7.3rem;
    left: 39.9rem;
    background: url("../img/Linearis-logo.svg") center/cover no-repeat;
  }

  .footer-bg{
    min-width: 768px;
    min-height: 393px;
    background: url("../img/tablet/footer-bottom.svg") center/cover no-repeat;
  }

  .footer-logo{
    width: 162px;
    height: 162px;
    top: 4.4rem; 
    left: 5rem;
    background: url("../img/GoldenLogo.png") center/cover no-repeat;
  }

  .info-group{
    font-size: 18px;
    top: 115px;
    right: 80px;
  }.info-group p:nth-child(1){
    padding-bottom: .75rem;
  }.info-group p:nth-child(2){
    padding-bottom: .5rem;
  }

  .info-name{
    font-size: 24px;
    color: white;
    left: 80px;
    bottom: 100px;
  }

  .view-requsites{
    font-size: 18px;
    bottom: 160px;
    right: 80px;
    letter-spacing: .02rem;
  }

  .icons{
    bottom: 100px;
    right: 80px;
  }.facebook{
    min-width: 12.5px;
    min-height: 25px;
    margin-right: 2.1rem;
    background: url("../img/facebook.svg") center/cover no-repeat;
  }.instagram{
    min-width: 25px;
    min-height: 25px;
    background: url("../img/instagram.svg") center/cover no-repeat;
  }

  .footer-text{
    font-size: 16px;
    bottom: 45px;
    left: 79.5px;
  }

  .policy{
    font-size: 16px;
    bottom: 45px;
    right: 80px;
  }

}

@media only screen and (min-width: 769px) {

  body {
    width: 1366px;  
    height: 3651px;
  }
  main{
    min-width: 1366px;
  }

  .view-requsites{display: none;}
  .exit-icon{display: none;}
  .menu-icon{display: none;}
  .primary-navbar{
    display: flex;
    font-size: 18px;
    padding-top: 3.2rem;
    z-index: 1;
  }.primary-navbar li:nth-child(1){
    margin-right: 35px;
  }.primary-navbar li:nth-child(2){
    margin-right: 36px;
  }.primary-navbar li:nth-child(3){
    margin-right: 40px;
  }.primary-navbar li:nth-child(4){
    margin-right: 38px;
  }.primary-navbar li:nth-child(5){
    margin-right: 34px;
  }.primary-navbar li:nth-child(6){
    margin-right: 62px;
  }


  .header-cover {
    min-width: 85.375rem;
    min-height: 7.5rem;
    top: 5px;
    background: url("../img/header-top.svg") center/cover no-repeat;
  }
    
  .header-top{
    top: 0;
  }
  
  .header-logo{
    min-width: 159px;
    min-height: 95px;
    margin-left: 3.9rem;
    margin-right: 5.25rem;
    background: url("../img/BlackLogo.jpg") center/cover no-repeat;
  }
    
  .video-img{
    min-width: 1366px;
    min-height: 722px;
    margin-top: -3rem;
    background: url("../img/SparkleVideo.jpg") center/cover no-repeat;
  }
    
  .play-icon {
    min-width: 120px;
    min-height: 124px;
    top: 50.5%;
    background: url("../img/Play.svg") center/cover no-repeat;
  }
    
  .text .container{
    max-width: 654px;
    margin-top: 9.325rem;
    margin-bottom: 9.6rem;
  }
    
  .text-content{
    font-size: 18px;
  }
    
  .images-sect .container{
    margin-bottom: 10.4rem;
  }
    
  .cover-top {
    min-width: 1366px;
    min-height: 55px;
    top: 0;
    background: url("../img/images-top.svg") center/cover no-repeat;
  }
    
  .cover-bottom {
    min-width: 1366px;
    min-height: 55px;
    bottom: -15px;
    background: url("../img/images-bottom.svg") center/cover no-repeat;
  }

  .images {
    min-width: 1366px;
  }
    
  .brinuma-meita-img {
    min-width: 298px;
    min-height: 180px;
    background: url("../img/Brinuma-meita.jpg") center/cover no-repeat;
  }
    
  .alina-img {
    min-width: 298px;
    min-height: 184px;
    background: url("../img/Alina.jpg") center/cover no-repeat;
  }
    
  .img-group{
    order: 3;
  }
    
  .anda-img {
    min-width: 406px;
    min-height: 383px;
    order: 4;
    background: url("../img/Anda.jpg") center/cover no-repeat;
  }
    
  .zanda-img{
    min-width: 328px;
    min-height: 355px;
    order: 1;
    margin-bottom: .8rem;
    background: url("../img/Zanda.jpg") center/cover no-repeat;
  }
    
  .sibilia-img{
    min-width: 334px;
    min-height: 364px;
    order: 2;
    background: url("../img/Sibilla.jpg") center/cover no-repeat;
  }
    
  .buttons-sect .container{
    display: flex;
    justify-content: center;
    margin-bottom: 9.45rem;
  }

  .first-group{
    order: 1;
  }

  .second-group{
    order: 2;
  }
    
  .btn-group{
    text-align: center;
    margin-left: 4.25rem;
    margin-right: 1rem;
  }
  
  .btn-group h3{
    margin-bottom: 2.6rem;
  }.first-btn-title{
    min-width: 394px;
    min-height: 29px;
  }.second-btn-title{
    min-width: 500px;
    min-height: 29px;
  }
    
  .buttons-sect-btn{
    font-size: 18px;
    min-width: 233px;
    min-height: 50px;
  }
    
  .form-title{
    font-size: 30px; 
    margin-bottom: 3.5rem;
  }

  .form-group{
    max-width: 612px;
    margin-bottom: 9.45rem;
  }
    
  .name-email-group{
    display: flex;
  }
    
  .form-sect form input, .form-sect form textarea{
    font-size: 18px; 
    min-width: 296px;
    min-height: 43px;
    margin-bottom: 1rem;
    padding-top: .3rem;
    padding-left: .75rem;
  }
    
  .form-group .name-email-group{
    justify-content: space-between;
  }
    
  .form-group #phone{
    min-width: 612px; 
  }
    
  .form-group #comment{
    min-width: 612px;
    max-height: 232px;
    margin-bottom: .9rem;
    padding-top: .6rem;
  }

  .form-group .mandatory {
    font-size: 14px;
    margin-bottom: 1.87rem;
  }
    
  .form-group .terms-container{
    min-width: 572px;
    min-height: 39px;
    font-size: 14px;
    padding-left: .1rem;
    padding-top: .1rem;
  }

  .form-group #check-box{
    margin-right: 1.2rem;
    margin-top: .3rem;
    margin-left: .15rem;
  }
    
  .submit-btn{
    min-width: 182px;
    min-height: 62px;
    font-size: 24px;
    margin-top: 3.2rem;
  }
    
  .logos-sect .container{
    margin-bottom: 15.75rem;
  }

  .logo-bg{
    min-width: 1366px;
    min-height: 478px;
    background: url("../img/footer-top.svg") center/cover no-repeat;
  }

  .logos-title{
    font-size: 24px;
    top: 100px;
    left: 621px;
  }
    
  .teikums-logo{
    min-width: 241.951px;
    min-height: 80px;
    top: 217px;
    left: 168px;
    background: url("../img/Teikums-logo.svg") center/cover no-repeat;
  }
    
  .sem-logo{
    min-width: 209.315px;
    min-height: 80px;
    top: 217px;
    left: 495px;
    background: url("../img/Sem-logo.svg") center/cover no-repeat;
  }
    
  .citybee-logo{
    min-width: 238.961px;
    min-height: 80px;
    top: 217px;
    left: 788px;
    background: url("../img/Citybee-logo.svg") center/cover no-repeat;
  }
    
  .linearis-logo{
    min-width: 84.771px;
    min-height: 120px;
    top: 198px;
    left: 1112px;
    background: url("../img/Linearis-logo.svg") center/cover no-repeat;
  }
    
  .footer-bg{
    min-width: 1366px;
    min-height: 376px;  
    margin-top: -17.65rem;
    background: url("../img/footer-bottom.svg") center/cover no-repeat;
  }

  .footer-logo{
    min-width: 182px;
    min-height: 182px;
    top: 72px;
    left: 61px;
    background: url("../img/GoldenLogo.png") center/cover no-repeat;
  }
    
  .footer-text{
    max-width: 182px;
    max-height: 38px;
    font-size: 14px;
    bottom: 1rem;
    left: 61px;
  }
    
  .navbar-footer{
    font-size: 18px;
    top: 72px;
    left: 23.8rem;
  }.navbar-footer li:nth-child(1){
    padding-left: .225rem;
    padding-bottom: 1.275rem;
  }.navbar-footer li:nth-child(2){
    padding-bottom: 1.5rem;
  }.navbar-footer li:nth-child(3){
    padding-bottom: 1.3rem;
  }.navbar-footer li:nth-child(4){
    padding-bottom: 1.3rem;
  }.navbar-footer li:nth-child(5){
    padding-bottom: 1.35rem;
  }
    
  .requsites{
    font-size: 18px;
    top: 4.25rem;
    left: 40.15rem;
  }.requsites p:nth-child(2){
    padding-bottom: .85rem;
  }.requsites p:nth-child(3){
    padding-bottom: .5rem;
  }

  .requsites-name{
    color: white;
    padding-bottom: 1.15rem;
  }

  .info-name{
    font-size: 24px;
    color: white;
    top: 4.4rem;
    right: 62.5px;
  }
    
  .info-group{
    font-size: 18px;
    top: 7.175rem;
    right: 4rem;
  }.info-group p{
    padding-bottom: .7rem;
  }
    
  .icons{
    bottom: 5.35rem;
    right: 3.85rem;
  }.facebook{
    min-width: 18px;
    min-height: 36px;
    background: url("../img/facebook.svg") center/cover no-repeat;
  }.instagram{
    min-width: 36px;
    min-height: 36px;
    margin-left: 1.8rem;
    background: url("../img/instagram.svg") center/cover no-repeat;
  }
    
  .policy{
    font-size: 14px;
    bottom: 1.1rem;
    right: 3.85rem;
  }

}