:root{

  --clr-primary: #2F4858;

  --bg-primary: #FFA800;
  --bg-footer-top: #FFCB66;
  --bg-footer-bottom: #2F4858;
  --bg-form: rgba(196, 196, 196, 0.40);

  --ff-montserrat-400: Montserrat-400;
  --ff-montserrat-500: Montserrat-500;
  --ff-oswald: Oswald;

  --fw-400: 400;
  --fw-500: 500;

}

@font-face {
  font-family: Oswald;
  src: url('../font/Oswald/Oswald-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat-500;
  src: url('../font/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat-400;
  src: url('../font/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

/* https://piccalil.li/blog/a-modern-css-reset */

*,
*::before,
*::after {
box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: black;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  width: 320px;  
  height: 2970px;
  margin: 0 auto;   
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  border: 1px solid red;
}

main{
  overflow: hidden;
  max-height: 2970px;
}

img,
picture,
svg {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
html:focus-within {
 scroll-behavior: auto;
}

*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  cursor: pointer;
}

li,
ol,
ul {
  list-style-type: none;    
}

button {
  cursor: pointer;
}

/* Utility Classes*/

.display-flex{display: flex;}
.display-inline{display: inline;}

.position-absolute{position: absolute;}
.position-relative{position: relative;}

.clr-primary{color: var(--clr-primary);}

.text-oswald{font-family: var(--ff-oswald);}
.text-montserrat-500{font-family: var(--ff-montserrat-500);}
.text-montserrat-400{font-family: var(--ff-montserrat-400);}

.bg-primary{background-color: var(--bg-primary);}
.bg-footer-top{background-color: var(--bg-footer-top);}
.bg-footer-bottom{background-color: var(--bg-footer-bottom);}
.bg-form{background-color: var(--bg-form);}

.text-400{font-weight: 400;}
.text-500{font-weight: 500;}

.button{
  border: none;
  border-radius: 2rem;
  color: white;
  font-size: 18px;
  font-style: normal;
  line-height: normal; 
}

#whitespace{
  color: white;
}

/* Disabled elements */

.primary-navbar{display: none;}

/* CSS */

.top-union{
  min-width: 320px;
  min-height: 59px;
  background: url("../img/mobile/header-top.svg") center/cover no-repeat;
}

.header-logo{
  min-width: 78px;
  min-height: 49px;
  margin-left: 1.2rem;
  z-index: 1;
  background: url("../img/mobile/BlackLogo.png") no-repeat;
}

.exit-icon{
  width: 15px;
  height: 15px;
  z-index: 1;
  right: 19px;
  top: 17px;
  background: url("../img/mobile/exit.svg")
}

.video-img{
  min-width: 320px;
  min-height: 169px;
  z-index: -1;
  background: url("../img/SparkleVideo.jpg") center/cover no-repeat;
}

.play-icon{
  min-width: 70px;
  min-height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/Play.svg") center/cover no-repeat;
}

.text .container{
  text-align: center;
  max-width: 280px;
  max-height: 124px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5.25rem;
}

.text-content {
  font-size: 12px;
  font-style: normal;
  line-height: normal;
}

.images-sect .container{
  margin-bottom: 7.5rem;
}

.cover-top {
  min-width: 320px;
  min-height: 24px;
  top: 0;
  background: url("../img/mobile/images-top.svg") center/cover no-repeat;
}

.cover-bottom {
  min-width: 320px;
  min-height: 25px;
  bottom: 0;
  background: url("../img/mobile/images-bottom.svg") center/cover no-repeat;
}

.images {
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
}

.Brinuma_meita-15 {
  min-width: 136px;
  min-height: 82px;
  background: url("../img/Brinuma-meita.jpg") center/cover no-repeat;
}

.Alina_11 {
  min-width: 136px;
  min-height: 85px;
  background: url("../img/Alina.jpg") center/cover no-repeat;
}

.img-group{
  align-self: end;
  order: 1;
}

.Anda2-1 {
  min-width: 184px;
  min-height: 174px;
  order: 2;
  background: url("../img/Anda.jpg") center/cover no-repeat;
}

.Zanda-1{
  min-width: 168px;
  min-height: 183px;
  order: 3;
  background: url("../img/Zanda.jpg") center/cover no-repeat;
}

.Sibilia-4{
  min-width: 167px;
  min-height: 183px;
  margin-right: -1rem;
  order: 4;
  background: url("../img/Sibilla.jpg") center/cover no-repeat;
}

.buttons-sect .container{
  text-align: center;
  align-items: center;
  margin-bottom: 7.35rem;
}

.first-group{
  margin-bottom: 5rem;
}

.btn-group h3{
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 1.9rem;
}.first-btn-title{
  max-width: 394px;
  min-height: 29px;
}.second-btn-title{
  max-width: 280px;
  min-height: 55px;
}

.buttons-sect-btn{
  min-width: 233px;
  min-height: 50px;
}



.form-sect .container{
  text-align: center;
}

.form-title{
  min-width: 280px;
  min-height: 35px;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 1.8rem;
}

.form-container{
  margin: 0 auto;
  max-width: 280px;
  margin-bottom: 7.75rem;
}

.form-container form input, .form-sect form textarea{
  background-color: var(--bg-form);
  color: var(--clr-primary);
  min-width: 280px;
  min-height: 35px;
  font-size: 14px;
  letter-spacing: -0.21px;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
  padding-left: .65rem;
}

.form-container .name-emails-group{
  display: grid;
}
  
.form-container #comment{
  min-width: 280px;
  height: 150px;
  margin-bottom: .1rem;
  padding-top: .4rem;
  resize: none;
}
  
.form-container .mandatory {
  text-align: start;
  min-width: 280px;
  min-height: 18px; 
  font-size: 12px;
  margin-bottom: .5rem;
}
  
.form-container #check-box{
  min-width: 16px;
  min-height: 16px;
  border-radius: 3px;
  accent-color: var(--bg-form);
  margin-right: 1.35rem;
}
  
.form-container .terms-container{
  text-align: start;
  font-size: 12px;
  line-height: 1.2;
  padding-top: .25rem;
}
  
.submit-btn{
  min-width: 140px;
  min-height: 48px;
  margin-top: 3.45rem;
}



.logo-bg{
  min-width: 322px;
  min-height: 732px;
  z-index: -1;
  margin-bottom: -21.25rem;
  background: url("../img/mobile/footer-top.svg") center/cover no-repeat;
}

.logos-title {
  font-size: 24px;
  left: 6.1rem;
  top: 5rem;
}

.getlogo{
    min-width: 130px;
    min-height: 44px;
    top: 11.25rem;
    left: 1.25rem;
    background: url("../img/Teikums-logo.svg") center/cover no-repeat;
}

.sem_logo{
    min-width: 135px;
    min-height: 51px;
    top: 11rem;
    left: 10.375rem;
    background: url("../img/Sem-logo.svg") center/cover no-repeat;
}

.Citybee{
    min-width: 131px;
    min-height: 44px;
    top: 16.5rem;
    left: 1.25rem;
    background: url("../img/Citybee-logo.svg") center/cover no-repeat;
}

.logo1{
    min-width: 48px;
    min-height: 67px;
    top: 16.1rem;
    left: 13.1rem;
    background: url("../img/Linearis-logo.svg") center/cover no-repeat;
}



footer .container p, footer .container a{
  color: #FFF;
  font-style: normal;
  line-height: normal;
}

.footer-bg{
  min-width: 320px;
  min-height: 483px;
  background: url("../img/mobile/footer-bottom.svg");
}

.footer-logo{
  min-width: 100px;
  min-height: 100px; 
  top: 2.7rem; 
  left: 1.2rem;
  background: url("../img/GoldenLogo.png") center/cover no-repeat;
}

.info-container{
  font-size: 12px;
  top: 221px;
  left: 20px;
  text-align: start;
}.info-container p:nth-last-child(-n+3) {
  padding-bottom: .65rem;
}

.info-name{
  position: absolute;
  font-size: 18px;
  left: 20px;
  top: 169px;
}

.view-requsites{
  font-size: 14px;
  font-weight: 700;
  min-width: 220px;
  min-height: 21px;
  bottom: 162px;
  left: 21px;
}

.icons{
  bottom: 103px;
  left: 20px;
  cursor: pointer;
}.facebook{
  min-width: 12.5px;
  min-height: 25px;
  margin-right: 2.1rem;
  background: url("../img/facebook.svg") center/cover no-repeat;
}.instagram{
  min-width: 25px;
  min-height: 25px;
  background: url("../img/instagram.svg") center/cover no-repeat;
}

.footer-logo-text{
  font-size: 11px;
  bottom: 53.5px;
  left: 20px;
}

.policy{
  font-size: 11px;
  bottom: 32.5px;
  left: 20px;
}

@media screen and (min-width: 320.1px) {
  
  body {
    width: 768px;
    height: 3021px;
  }

  main{
    max-height: 3021px;
  }

  /* Disabled elements */

  .primary-navbar{display: none;}
  .exit-icon{display: none;}

  /* CSS */

  .top-union{
    width: 768px;
    height: 96px;
    background: url("../img/tablet/header-top.svg") center/cover no-repeat;
  }

  .header-logo{
    width: 128px;
    height: 118px;
    margin-left: 4.95rem;
    background: url("../img/tablet/BlackLogo.png") no-repeat;
  }

  .menu-icon{
    width: 24.8px;
    height: 20px;
    z-index: 1;
    right: 79px;
    top: 35px;
    cursor: pointer;
    background: url("../img/tablet/menu.svg");
  }



  .video-img{
    width: 768px;
    height: 406px;
    margin-top: -3rem;
    background: url("../img/SparkleVideo.jpg") center/cover no-repeat;
  }

  .play-icon{
    width: 120px;
    height: 120px;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/Play.svg") center/cover no-repeat;
  }



  .text .container{
    max-width: 608px;
    max-height: 140px;
    margin-top: 9.65rem;
    margin-bottom: 9.5rem;
  }

  .text-content {
    font-size: 18px;
  }



  .images-sect .container{
    margin-bottom: 7.5rem;
  }

  .cover-top {
    width: 768px;
    height: 31px;
    background: url("../img/tablet/images-top.svg") center/cover no-repeat;
  }

  .cover-bottom {
    width: 768px;
    height: 31px;
    bottom: -9px;
    background: url("../img/tablet/images-bottom.svg") center/cover no-repeat;
  }

  .images {
    width: 768px;
  }

  .Brinuma_meita-15 {
    width: 167px;
    height: 102px;
    background: url("../img/Brinuma-meita.jpg") center/cover no-repeat;
  }

  .Alina_11 {
    width: 167px;
    height: 104px;
    background: url("../img/Alina.jpg") center/cover no-repeat;
  }

  .img-group{
    order: 3;
  }

  .Anda2-1 {
    width: 229px;
    height: 216px;
    order: 4;
    background: url("../img/Anda.jpg") center/cover no-repeat;
  }

  .Zanda-1{
    width: 184px;
    height: 200px;
    order: 1;
    margin-top: .75rem;
    background: url("../img/Zanda.jpg") center/cover no-repeat;
  }

  .Sibilia-4{
    width: 188px;
    height: 206px;
    order: 2;
    margin: 0;
    margin-top: .75rem;
    background: url("../img/Sibilla.jpg") center/cover no-repeat;
  }



  .buttons-sect .container{
    align-items: end;
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    margin-bottom: 9rem;
    margin-top: 10rem;
  }

  .first-group{
    margin: 0;
    order: 2;
  }
  
  .second-group{
    order: 1;
  }

  .btn-group h3{
    margin-bottom: 3rem;
  }.first-btn-title{
    max-width: 233px;
    min-height: 54px;
  }.second-btn-title{
    max-width: 233px;
    min-height: 54px;
  }

  .buttons-sect-btn{
    width: 233px;
    height: 50px;
  }



  .form-title{
    width: 280px;
    height: 35px;
    font-size: 30px;
    margin-bottom: 4rem;
  }

  .form-container{
    max-width: 608px;
    margin-bottom: 7.5rem;
  }

  .form-sect form input, .form-sect form textarea{
    font-size: 18px;
  }

  .form-container .name-emails-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: .4rem;
  }.form-container .name-emails-group > * {
    width: 294px;
    height: 40px;
  }
   
  .form-container #phone{
    width: 608px;
    height: 40px;
    margin-bottom: .9rem;
  }
  
  .form-container #comment{
    width: 608px;
    height: 230px;
    margin-bottom: .55rem;
  }
    
  .form-container .mandatory {
    width: 608px;
    height: 19px;
    font-size: 14px;
  }
    
  .form-container .terms-container{
    display: block;
    width: 568px;
    height: 39px;
    font-size: 13.7px;
    padding-left: .25rem;
  }
    
  .submit-btn{
    width: 182px;
    height: 62px;
    font-size: 24px;
    margin-top: 3.3rem;
  }



  .logo-bg{
    width: 768px;
    min-height: 270px;
    margin-top: 1.85rem;
    margin-bottom: -1.15rem;
    background: url("../img/tablet/footer-top.svg") center/cover no-repeat;
  }

  .logos-title {
    width: 222px;
    height: 34px;
    left: 20.1rem;
    top: 5.35rem;
  }

  .getlogo{
    min-width: 144px;
    min-height: 47px;
    top: 9.75rem;
    left: 5rem;
    background: url("../img/Teikums-logo.svg") center/cover no-repeat;
  }

  .sem_logo{
      min-width: 123px;
      min-height: 47px;
      top: 9.75rem;
      left: 17rem;
      background: url("../img/Sem-logo.svg") center/cover no-repeat;
  }

  .Citybee{
      min-width: 142px;
      min-height: 47px;
      top: 9.75rem;
      left: 27.9rem;
      background: url("../img/Citybee-logo.svg") center/cover no-repeat;
  }

  .logo1{
      min-width: 49px;
      min-height: 71px;
      top: 9.15rem;
      left: 39.9rem;
      background: url("../img/Linearis-logo.svg") center/cover no-repeat;
  }



  .footer-bg{
    width: 768px;
    min-height: 393px;
    margin: 0;
    background: url("../img/tablet/footer-bottom.svg") center/cover no-repeat;
  }

  .footer-logo{
    width: 162px;
    height: 162px;
    top: 4.4rem; 
    left: 5rem;
    background: url("../img/GoldenLogo.png") center/cover no-repeat;
  }

  .info-container{
    font-size: 18px;
    top: 115px;
    right: 80px;
    left: unset;
    text-align: end;
  }

  .info-name{
    font-size: 24px;
    left: 80px;
    bottom: 100px;
    top: unset;
  }

  .view-requsites{
    font-size: 18px;
    bottom: 160px;
    right: 10px;
    left: unset;
  }

  .icons{
    bottom: 100px;
    right: 80px;
    left: unset;
  }.facebook{
    background: url("../img/facebook.svg") center/cover no-repeat;
  }.instagram{
    background: url("../img/instagram.svg") center/cover no-repeat;
  }

  .footer-logo-text{
    font-size: 16px;
    bottom: 45px;
    left: 79.5px;
  }

  .policy{
    font-size: 16px;
    bottom: 45px;
    right: 80px;
    left: unset;
  }

}
/*
@media screen and (min-width: 768.1px) {

  body {
    width: 1366px;  
    height: 3651px;
  }

  /* Disabled elements 

  .view-requsites{display: none;}
  .exit-icon{display: none;}

  /* CSS 

  .top-union {
    width: 85.375rem;
    height: 7.5rem;
    z-index: -1;
    background: url("../img/desktop/Union.svg");
    }
    
  .header-top{
    z-index: 1;
    top: 0;
  }
    
  .header-logo{
    width: 159px;
    height: 95px;
    margin-left: 3.9rem;
    margin-right: 5.25rem;
    background: url("../img/desktop/BlackLogo3.jpg");
  }
    
  .primary-navbar{
    display: flex;
    font-size: 18px;
    font-style: normal;
    line-height: normal;  
    padding-top: 3.2rem;
  }
    
  .video-img{
    margin-top: -3rem;
    min-height: 722px;
    background: url("../img/desktop/Sparkle_Video_1.png");
  }
    
  .play-icon {
    top: 49.5%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    min-width: 110px;
    min-height: 110px;
    background: url("../img/desktop/Group2.svg");
  }
    
  .text .container{
    margin: 0 auto;
    text-align: center;
    margin-top: 9.325rem;
    margin-bottom: 9.6rem;
    max-width: 654px;
    max-height: 114px;
  }
    
  .text-content{
    font-size: 18px;
    font-style: normal; 
    line-height: normal;
  }
    
  .images-sect .container{
    margin-bottom: 10.4rem;
  }
    
  .images {
    width: 1366px;
    align-items: end;
    display: flex;
  }
    
  .cover-top {
    width: 1366px;
    height: 55px;
    top: 0;
    background: url("../img/desktop/ripped67.svg");
  }
    
  .cover-bottom {
    width: 1366px;
    height: 55px;
    bottom: -15px;
    background: url("../img/desktop/ripped68.svg");
  }
    
  .Brinuma_meita-15 {
    width: 298px;
    height: 180px;
    background: url("../img/desktop/Brinuma_meita-15.jpg");
  }
    
  .Alina_11 {
    width: 298px;
    height: 184px;
    background: url("../img/desktop/Alina_11.jpg");
  }
    
  .img-group{
    order: 3;
  }
    
  .Anda2-1 {
    width: 406px;
    height: 383px;
    order: 4;
    background: url("../img/desktop/Anda_21.jpg");
  }
    
  .Zanda-1{
    width: 328px;
    height: 355px;
    order: 1;
    margin-bottom: .8rem;
    background: url("../img/desktop/Zanda_1.jpg");
  }
    
  .Sibilia-4{
    width: 334px;
    height: 364px;
    order: 2;
    background: url("../img/desktop/Sibilla_4.jpg");
  }
    
  .buttons-sect .container{
    display: flex;
    justify-content: center;
    margin-bottom: 4.5rem;
  }
    
  .btn-group{
    text-align: center;
    margin-left: 4.25rem;
    margin-right: 1rem;
  }.btn-group h3{
    font-size: 24px;
    margin-bottom: 2.6rem;
  }
    
  .first-btn-title{
    min-width: 394px;
    min-height: 29px;
  }
    
  .second-btn-title{
    min-width: 500px;
    min-height: 29px;
  }
    
  .buttons-sect-btn{
    width: 233px;
    height: 50px;
  }
    
  .form-sect .container{
    align-items: center;
    text-align: center;
  }
    
  .form-container{
    margin: 0 auto;
    margin-top: 3.5rem;
    max-width: 612px;
  }
    
  .name-emails-group{
    display: flex;
  }

  .form-title{
    font-size: 30px; 
    font-style: normal; 
    line-height: normal; 
  }
    
  .form-sect form input, .form-sect form textarea{
    height: 43px; 
    width: 296px; 
    background-color: var(--bg-form);
    color: var(--clr-primary);
    font-size: 18px; 
    font-style: normal; 
    line-height: normal; 
    letter-spacing: -0.27px;
    padding-top: .3rem;
    padding-left: .75rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: none;
  }
    
  .name-emails-group{
    justify-content: space-between;
  }
    
  .form-sect #phone{
    width: 612px; 
  }
    
  .form-sect #comment{
    min-width: 612px;
    min-height: 232px;
    padding-top: .6rem;
    margin-bottom: .5rem;
    resize: none;
  }
    
  .mandatory {
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    text-align: start;
    margin-bottom: 1.87rem;
  }
    
  #check-box{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    accent-color: var(--bg-form);
  }
    
  .terms-container{
    width: 572px;
    height: 39px;
    padding-left: .1rem;
    text-align: start;
    line-height: 1;
    }#terms{
    font-size: 14px;
    font-style: normal;
    line-height: normal;
  }
    
  .submit-btn{
    width: 182px;
    height: 62px;
    font-size: 24px;
    margin-top: 3.3rem;
    margin-bottom: 9.35rem;
  }
    
  .logo-bg{
    min-width: 1366px;
    min-height: 478px;
    background: url("../img/desktop/Subtract.svg");
  }

  .logos-title{
    font-size: 24px;
    top: 98px;
    left: 620px;
  }
    
  .getlogo{
    width: 241.951px;
    height: 80px;
    top: 217px;
    left: 168px;
    background: url("../img/desktop/getlogo1.svg");
  }
    
  .sem_logo{
    width: 209.315px;
    height: 80px;
    top: 217px;
    left: 495px;
    background: url("../img/desktop/sem_logo-21.svg");
  }
    
  .Citybee{
    width: 238.961px;
    height: 80px;
    top: 217px;
    left: 788px;
    background: url("../img/desktop/Citybee-logo1.svg");
  }
    
  .logo1{
    width: 84.771px;
    height: 120px;
    top: 198px;
    left: 1112px;
    background: url("../img/desktop/logo11.svg");
  }
    
  footer .container p, footer .container a{
    color: #FFF;
    font-style: normal;
    line-height: normal;
  }
    
  .footer-bg{
    width: 1366px;
    height: 376px;  
    margin-top: -17.65rem;
    background: url("../img/desktop/UnionFooter.svg");
  }

  .footer-logo{
    width: 182px;
    height: 182px;
    top: 70px;
    left: 61px;
    background: url("../img/desktop/GoldenV2Logo3.png");
  }
    
  .footer-logo-text{
    width: 182px;
    height: 38px;
    font-size: 14px;
    bottom: 1rem;
    left: 61px;
  }
    
  .navbar{
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    top: 68px;
    left: 23.8rem;
  }.navbar-first-child{
    padding-left: .2rem;
  }
    
  .requsites{
    font-size: 18px;
    top: 4.25rem;
    left: 40.15rem;
  }.requsites-title{
    font-size: 24px;
  }
    
  .info-name{
    font-size: 24px;
    top: 4.35rem;
    left: auto;
    right: 65px;
  }
    
  .info-container{
    font-size: 18px;
    text-align: end;
    top: 7rem;
    right: 4rem;
  }.info-container p{
    padding-bottom: .65rem;
  }
    
  .icons{
    bottom: 5.35rem;
    right: 3.85rem;
    left: auto;
  }.facebook{
    width: 18px;
    height: 36px;
    margin: 0;
    background: url("../img/desktop/facebook.svg");
  }.instagram{
    width: 36px;
    height: 36px;
    margin-left: 1.9rem;
    background: url("../img/desktop/instagram.svg");
  }
    
  .policy{
    font-size: 14px;
    bottom: 1.1rem;
    right: 3.85rem;
    left: auto;
  }

}